<style>
.ms-1 {
  margin-left: ($spacer * .25) !important;
}
</style>

<% if session[:logged_in] %>
    <% @tmp = User.where(id: session[:login_user_id]).first.user_type %>

    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <h1 class="navbar-brand text-white ms-1">กลุ่มโมบิลสั่งข้าวแกง</h1>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <% if(@tmp == 0 || @tmp == 2 ) %> 
                <a class="nav-item nav-link active text-white" href=my_market>Market</a>
                <a class="nav-item nav-link active text-white" href=purchase_history>Purchase history</a>
            <%end%>

            <% if(@tmp == 0 || @tmp == 1 ) %> 
                <a class="nav-item nav-link active text-white" href=my_inventory>Inventory</a>
                <a class="nav-item nav-link active text-white" href=sale_history>Sale history</a>
                <a class="nav-item nav-link active text-white" href="#">Top seller</a>
            <%end%>

            <a class="nav-item nav-link active text-white " href='/logout'>Logout</a>
            </div>
        </div>
    </nav>

<% else %>
    <p> You can access this page after you login</p>
    <%= link_to "Go to login page", login_path, :class => "btn btn-primary" %>
<%end%>
